extends layout

block content
    .row-fluid
        h4.offset2 Account
        .span8.offset2.well
            each val, key in user
                if key != '_id' && key != 'password'
                    if key == 'email'
                        .row-fluid
                            .span3 <b>!{capitalize(key)}: </b>
                            .span6
                                a(href='mailto:#{val}') !{val}
					else if key == 'color'
						.row-fluid
							.span3 <b>Chat color: </b>
							.span6(style='color: #{val};')!{val} 
								a(href='/color') Change Color
                    else if key == 'user_since'
                        .row-fluid
                            .span3 <b>User since: </b>
                            .span6 !{val}
                    else
                        .row-fluid
                            .span3 <b>!{capitalize(key)}: </b>
                            .span6 !{val}
    .row-fluid
        h4.offset2 Online Users
        .span8.offset2.well
            table.table
                thead
                    tr
                        th Name
                        th Email
                        th Nickname
                        th Sex
                        th Age
                tbody#usersTable
                    tr
                    //- each user in onlineusers
                    //-     tr
                    //-         td
                    //-             span(style='color: #{user.color};')!{user.username}
                    //-         td 
                    //-             a(href='mailto:#{user.email}') !{user.email}
                    //-         td !{user.nickname}
                    //-         td !{user.sex}
                    //-         td !{user.age}
>>>>>>> 415f69fcd6dc0e413741c4087ed3afd3d32c81b6

block scripts
    script(type='text/javascript', src='/js/views/index.js')
