html(lang='en')
    head
        meta(charset='utf-8')
        title Medkit
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/bootstrap-responsive.css', rel='stylesheet')
        link(href='/css/signup.css', rel='stylesheet')


        
        // preset form values if we receive a userdata object //
       - user = typeof(udata) != 'undefined' ? udata : {}
    body
        include modals/alert
        #account-form-container
            form(action="/signup", method="post")#account-form.form-horizontal.well.span6
                h1 !{title}
                p#sub1.subheading Please tell us a little about yourself
                hr
                fieldset
                    #name-cg.control-group
                        label.control-label(for='name-tf') Name
                        .controls
                            input#name-tf.input-xlarge(type='text', name='name', value= user.name)
                    #email-cg.control-group
                        label.control-label(for='email-tf') Email
                        .controls
                            input#email-tf.input-xlarge(type='email', name='email', value= user.email)
                    #phone-cg.control-group
                        label.control-label(for='phone-tf') Phone
                        .controls
                            input#phone-tf.input-xlarge(type='tel', name='phone', value= user.phone)
                    #agelist-cg.control-group
                        label.control-label(for='age-list') Age
                        .controls
                            select.span1#age-list(name='age')
                                each item in ages
                                    option(selected=item.name == user.age)= item.name
                    #sexlist-cg.control-group
                        label.control-label Sex
                        .controls
                            .row-fluid
                                label
                                .span2
                                    label Male
                                .span1
                                    input(type='radio', name = "sex", checked=true, value= "male")
                                .span2
                                    label Female
                                .span1
                                    input(type='radio', name = "sex", checked=false, value= "female")
                    #clist-cg.control-group
                        label.control-label(for='country-list') Location
                        .controls
                            select#country-list(name='country')
                                each item in countries
                                    option(selected=item.name == user.country)= item.name
                    hr
                    p#sub2.subheading Choose your username and password
                    #user-cg.control-group
                        label.control-label(for='user-tf') Username
                        .controls
                            input#user-tf.input-xlarge.disabled(type='text', name='user', value= user.user, required)
                    #pass-cg.control-group
                        label.control-label(for='pass-tf') Password
                        .controls
                            input#pass-tf.input-xlarge(type='password', name='pass', value='', required)
                    .form-actions
                        a(href='/')
                            button(type='button', value='cancel')#account-form-btn1.btn
                                | Cancel
                        button(type='submit')#account-form-btn2.btn.btn-primary
                            | Submit
        script(type='text/javascript', src='/vendor/jquery-1.8.2.js')
        script(type='text/javascript', src='/vendor/bootstrap.js')
        script(type='text/javascript', src='/js/views/signup.js')
        script(type='text/javascript', src='/js/controllers/signupController.js')